{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="{% static 'base.css' %}" >  
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <nav id="navbar">
        {% block navbar %}
        {% if user.is_authenticated %}
            <p> Welcome, {{ user.username }}! </p>
        {% else %}
            <p> Welcome! </p>
        {% endif %}
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <button class="button" > Logout </button>
            {% endif %}
        </ul>
        {% endblock %}
    </nav>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
